html, body {
    margin: 0;
}
html {
    height: auto;
    scroll-behavior: smooth;
}
body {
    background-color: #C2CAD0;
    text-align: center;
    align-items: center;
}
#navBar {
    background-color: #E7717D;
    position: -webkit-sticky;
	position: sticky;
	top: 0px;
    padding: 5px;
}
body::-webkit-scrollbar {
    width: .5rem;
}
body::-webkit-scrollbar-thumb {
    background-color: black;
}
body::-webkit-scrollbar-track {
    background-color: gray;
}

.nav {
    font-size: 30px;
    padding: 0px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
/* hover over navbar, changes color */
.nav a:hover {
    background-color: yellowgreen;
    color: orangered;
}
/* Responsive layout - when the screen is less than 400px wide,
makes the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    #navBar a {
        float: none;
        width: 100%;
    }
}
a {
    font-family: 'Henny Penny', cursive;
    color: white;
    text-decoration: none;
}
#title {
    font-family: 'Playfair Display', serif;
    color: white;
    font-size: 45px;
    padding: 50px;
}
h1 {
    font-size: 35px;
}
li {
    font-size: 25px;
}
/* About CSS */
#aboutMe {
    background-color: #C2B9B0;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
}
#skills, #interests, #info, #hobbies, #favorites {
    list-style-type: none; /* removes bullet points */
}
/* Portfolio CSS */
#portfolio {
    background-color: #7E685A;
    font-family: 'Merriweather', serif;
    color: white;
}

/* Slideshow CSS */
* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    min-width: 500px;
    max-width: 500px;
    height: auto;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    display: inline-block;
}
.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}
/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
    background-color: #F1F1F1;
    color: black;
}
/* Responsive layout - when the screen is less than 700px wide,
makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .portfolio {
        flex-direction: column;
    }
}
/* Contact CSS */
#contactMe {
    background-color: #AFD275;
    font-family: 'Open Sans', sans-serif;
    color: white;
    list-style-type: none; /* removes bullet points */
}
#contactMe h1 {
    font-size: 35px;
}
#contactMe li {
    font-size: 25px;
}
#socialMedia {
    font-size: 35px;
}
.socialMedia {
    height: 140px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
/* Footer CSS */
h1, h5 {
    margin: 0px;
}
footer {
    text-align: center;
    margin: 0px;
    background-color: black;
    font-family: 'Quicksand', sans-serif;
    font-size: 12px;
    color: white;
}
footer p {
    margin: 0px;
}